.container
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.container *
{
        
    margin: auto;
        max-width: 50rem;
}
.main
{
    max-width: 600px;
    
    margin: auto;
    border: 10px;

}
h2
{
    padding-left: 0.5rem;
}
p
{
     padding-left: 0.5rem;
     color: #489DFF;
}
button
{
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border-radius: 7px;
    border: 10px;
    
    background: #489DFF;
    color: white;

}
.btn
{ padding-top: 0.5rem;
    padding-left: 0.5rem;
    
}
@media screen and (max-width: 760px){
    .main{ 
        max-width: none;
    }



}
@media screen and (max-width: 550px){
    .container
    {
        grid-template-columns: 1fr;
    }



}